# ==========================
# Development (Local MongoDB)
# Uncomment this for local development
# MONGO_URI=mongodb://127.0.0.1:27017/sportAcademy

# ==========================
# Production (MongoDB Atlas)
# Uncomment this for deployment
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/sportAcademy?retryWrites=true&w=majority

# Activate ONLY ONE MONGO_URI at a time.

PORT=4005
JWT_SECRET=newtokencreated
