.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background: url("../assets/background.jpg") no-repeat center center/cover;
}

.home-container h1 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #ffff;
}

.nav-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.nav-buttons button {
  background: orange;
  border: none;
  padding: 25px;
  font-size: 25px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.nav-buttons button:hover {
  background: darkorange;
  transform: scale(1.05);
}
