.playerreport-container {
  padding: 30px;
  background: #f9fafc;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.playerreport-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #34495e;
  font-weight: 600;
}

.playerreport-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow-x: auto;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.playerreport-table th,
.playerreport-table td {
  padding: 10px 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  white-space: nowrap; /* मोठं डेटा असला तरी टेबल नीट दिसेल */
}

.playerreport-table th {
  background: #2980b9;
  color: #fff;
  font-weight: 600;
}

.playerreport-table tr:nth-child(even) {
  background-color: #f2f8ff;
}

.playerreport-table tr:hover {
  background-color: #e6f3ff;
  transition: 0.3s;
}

.delete-btn {
  padding: 6px 12px;
  background: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.delete-btn:hover {
  background: #c0392b;
}
